// Variables, Functions and Mixins
@import "../tools/tools";

:root {
  --bfr-2022-color-primary: #{$standard-color-primary};
  --bfr-2022-color-link: #{$standard-color-link};
  --bfr-2022-color-hover: #{$standard-color-hover};
}
